@model IEnumerable<DanceSchool.Models.LessonModel>
@{
    ViewBag.Title = "Расписание занятий";
}

<div class="centered-content">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-lg-10">
            <h2 id="title">@ViewBag.Title</h2>
            <hr />
            @if (User.IsInRole("1"))
            {
                <div class="row">
                    @Html.ActionLink("Создать новое занятие", "Create", null, new { @class="btn btn-outline-dark" })
                </div>
                <hr/>
            }
            <div class="row">
                @Html.ActionLink("Скачать занятия в формате PDF", "DownloadLessonReport", "Report", null, new { @class = "btn btn-outline-dark", target = "_blank" })
            </div>
            <hr/>
            @Html.Partial("LessonTable")
        </div>
    </div>
</div>